@model IEnumerable<Folha01.Models.CadastroFModel>

@{
    ViewData["Title"] = "Index";
}

<style>
    .light-text {
        color: #ffffff; 
    }


    h1 {
        text-align: center;
    }
</style>

<h1 class="light-text">Página Inicial</h1>

<p>
    <a asp-action="Create" class="light-text">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="light-text">
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th class="light-text">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th class="light-text">
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th class="light-text">
                @Html.DisplayNameFor(model => model.DatadeNascimento)
            </th>
            <th class="light-text">
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        { 
            <tr>
                <td class="light">
                    @Html.DisplayFor(modelItem => item.NomeFuncionario)
                </td>
                <td class="light">
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td class "light">
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td class="light">
                    @Html.DisplayFor(modelItem => item.DatadeNascimento)
                </td>
                <td class="light">
                    @Html.DisplayFor(modelItem => item.Gmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFuncionario" class="light-text">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFuncionario" class="light-text">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFuncionario" class="light-text">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
