@model IEnumerable<Folha01.Models.CadastroFModel>

@{
    ViewData["Title"] = "Index";
}

<style>

   
    h1 {
        color: #fff;
        text-align: center;
    }

 
</style>


<h1>Pagina Incial</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatadeNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatadeNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFuncionario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFuncionario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFuncionario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
