@model IEnumerable<Folha01.Models.holeModel>

<h2>Folhas de Pagamento</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Funcionário</th>
            <th>Salário Bruto</th>
            <th>Descontos</th>
            <th>Salário Líquido</th>
            <th>Data de Pagamento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Funcionario.NomeFuncionario</td>
                <td>@item.SalarioBruto</td>
                <td>@item.Descontos</td>
                <td>@item.SalarioLiquido</td>
                <td>@item.DataPagamento.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>
