@model Folha01.Models.BeneficiosModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BeneficiosModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recisaofuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recisaofuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Va)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Va)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuncionario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdBeneficios">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
