@model Folha01.Models.HoleriteModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoleriteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFuncionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFuncionario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBeneficios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBeneficios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFrequencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFrequencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAdmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioLiquido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioLiquido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDHolerite">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
