@model IEnumerable<Folha01.Models.HoleriteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBeneficios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFrequencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAdmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioBase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioLiquido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBeneficios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFrequencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAdmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioLiquido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDHolerite">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDHolerite">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDHolerite">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
